body{
    font-family: 'Lobster', cursive;
    margin: 0px;
    background-image:url("backgroundimg.jpg");

}
h1{
 font-size: 50px;
}
h2{
    font-size: 40px;
    
}
h3{
    color: orange;
}
h4{
    color: cadetblue;
}
#highlight{
    color:orange;
}
p{
    font-family: 'Roboto Slab', serif;
    color: burlywood;
    text-decoration: burlywood;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 1%;
    background-color: white;
    background-image: url("backgroundimg.jpg");
}
.half-width img{
    width: 500px;
    background-image: url("backgroundimg.jpg");

}
.link-button{
    text-decoration: none;
   background-image: linear-gradient(45deg, lightsalmon,tomato);
    padding: 10px 10px;
    border-radius: 5px;
}
.top-banner{
    background-image: url("top-banner.png");
    background-repeat: no-repeat;
    background-image: url("backgroundimg.jpg");
   
}
section{
    height: 500px;
    padding-bottom: 100px;
}
#right-banner{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
   background-position: right;
}
#myself{
    color: burlywood;
    
}
.about-myself{
    box-shadow: 10px 10px 40px dimgray;
    border-radius: 10px;
    height: 70%;
}
.about{
    background-image: url("exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#border-color{
    border-left: 7px solid;
    border-image: linear-gradient(blue,skyblue);
    border-image-slice: 1;
}
#student{
    border-left: 7px solid;
    border-image: linear-gradient(180deg , lightgreen,green);
    border-image-slice: 1;
}
footer{
  text-align: center;
}
#work{
    text-align: center;
}
.rafsan{
    height: 200px;
    text-align: center;
}
.images{
    text-align: center;
}